{% extends 'base.html'%}
{% block container %}

<div class="main_content">
  <div class="header">Twitch Data & Analytics</div>  

  <div class="info" style= "color: white;">
    <p>Hello, this website was designed for a senior project. It is intended to perform sentiment analysis and data analytics on a streaming website called Twitch.tv. We give a special thanks to ____ _and Rich Thompson. 
    Creators: Jake Heller, Joseph Chan, Yasmine Dana, Hayley , Gwen 
    </p>
      </div>

</div>

{% endblock %}