<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clip That</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>


    
<div class="wrapper">
    <div class="sidebar">
        <h2>Clip That</h2>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/channels"><i class="fas fa-user"></i>Channels</a></li>
            <li><a href="/clips/"><i class="fas fa-blog"></i>Clips</a></li>
            <li><a href="/emotes/"><i class="fas fa-address-book"></i>Emotes</a></li>
            <li><a href="/about"><i class="fas fa-map-pin"></i>About</a></li>
        </ul> 
        <div class="social_media">
          <a href="https://www.twitch.tv/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitch.tv/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.twitch.tv/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>



    {% block container %}{% endblock %}
</div>


