{% extends 'base.html'%}
{% block container %}

<div class="main_content">
  <div class="header">Twitch Data & Analytics</div>  

  <div class="info" style= "color: white;">
    <p>Hello, this website was designed for a senior project. It is intended to perform sentiment analysis and data analytics on a streaming website called Twitch.tv. We give a special thanks to ____ _and Rich Thompson. 
    Creators: Jake Heller, Joseph Chan, Yasmine Dana, Hayley , Gwen 
    </p>
      </div>

<div class="content">
    
    <div class="clips_container">

      <div class="clip_container1">
        <div class="clip_detail" style="font-size:18px;color:white;">{{result['broadcaster']}} </div>
        <a href = "{{result['url']}}">
        <div class="clip_detail_img"> <img src = "{{result['thumbnail_url']}}"></div></a>
        <div class="clip_detail"style="color:white;"> {{format_time(result['created_at'])}} </div>
      </div>
      
      <div class="clip_container2">
        <div class="clip_detail"style="color:white; font-size: 35px;">{{result["title"]}} </div>
        <a href = "/channels/{{result['broadcaster'].lower()}}">
        <div class="clip_detail"style="color:white;">{{result['broadcaster']}} </div></a>
        <div class="clip_detail"style="color:white;"> Emote </div>
        <div class="clip_detail"style="color:white;"> Views: {{result["view_count"]}} </div>
        <div class="clip_detail"style="color:{{result['sentiment_color']}};"> Rating: {{result["score"]}}</div>
      </div>
    
    </div>

</div>

</div>
{% endblock %}