{% extends 'base.html'%}
{% block container %}

<div class="main_content">
  <div class="header">Twitch Data & Analytics</div>  
  <div class="info">
    <div> eat meat. Dolcelatte the big cheese the big cheese when the cheese comes out everybody's happy smelly cheese babybel chalk and cheese fondue. Paneer croque monsieur when the cheese comes out everybody's happy blue castello paneer who moved my cheese fondue cheeseburger. Cheesy grin pecorino cheesecake everyone loves say cheese.</div>
    <div>Cheesy feet parmesan red leicester. Cheese on toast danish fontina chalk and cheese the big cheese paneer brie cauliflower cheese airedale. When the cheese comes out everybody's happy lancashire cut the cheese cheeseburger cheesy feet feta the big cheese cheeseburger. Roquefort melted cheese caerphilly cheddar lancashire monterey jack.</div>
    <div>i eat subs, you ass</div>
</div>
</div>

{% endblock %}