{% extends 'base.html'%}
{% block container %}


src = 'link in file'

<div class="main_content">
  <div class="header">Twitch Data & Analytics</div>  

  <div class="content">
    {% for result in data %}
    
    <div class="clips_container">

      <div class="clip_container1">
        <div class="clip_detail" style="font-size:25px;color:white;"> Username </div>
        <a href = "{{result['url']}}">
        <div class="clip_detail_img"> <img src = "{{result['thumbnail_url']}}"></div></a>
        <div class="clip_detail"style="color:white;"> Timestamp </div>
      </div>
      
      <div class="clip_container2">
        <div class="clip_detail"style="color:white;"> {{result["title"]}} </div>
        <div class="clip_detail"style="color:white;"> Username </div>
        <div class="clip_detail"style="color:white;"> Emote </div>
        <div class="clip_detail"style="color:white;"> {{result["view_count"]}} </div>
        <div class="clip_detail"style="color:white;"> {{result["score"]}}</div>
      </div>
    
    </div>

    {% endfor %}

</div>


{% endblock %}
