@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #061E44;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #fff;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #37276d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 220px;


}

input[type="text"], [type='submit'] {
  float:right;
  padding:6px;
  margin-top:20px;
  margin-right: 16px;
  border: none;
  font-size:17px;

}

.wrapper .main_content .header{
  padding: 34px;
  background: #061E44;
  color: whitesmoke;
  border-bottom: 1px solid #e0e4e8;
}





/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 200px 200px 200px;
  height: 300px;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}


.header nav{
  float:left
  color: #ffffff;
  font-family: Serif;
}


.wrapper .main_content img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 3px;  /* Rounded border */
  
  width: 210px; /* Set a small width */
  align: left;
}


.clips_container{
  padding:5px;
  background-color:  #37276d;
  margin:5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  
}

.clips_container div{
  font-family: fantasy;
}

.clips_container:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clip_container1, .clip_container2{
  padding: 1px;
  min-height:100px;
  background-color:#141452; 
  /*border color^^ */
}

.clip_container1{
  min-width:200px;
  float:left;

}
.clip_container2{
  display: flex;
  flex-direction: column;
  font-size:25px;
}
.clip_container2:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clip_detail, .clip_detail_img{
  float:top;
  margin:1px;
  background-color:#141452;
  align-self:center;
  width:100%;
  text-align:left;
}

.clip_detail_img{
  height:130px;
  width:220px;
}

.flex-container {
  display:flex;
  flex-wrap: wrap;
  margin-top:20px;
}

.flex_clip_container{
  padding: 5px;
  min-height:100px;
  background-color:#141452; 
  width:270px;
  float:left;
  border: 1px solid gray;
  margin:20px;
  text-align: center;

}

.search-container-clips:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}